.header-bar {
    background-color: var(--noobo-dark-green);
    color: white;
    margin: 0px;
    height: 55px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

.logo {
    float: left;
    font-family: titillium web, sans-serif;
    font-size: 2rem;
    color: white;
    line-height: 52px;
    margin-right: 20px;
    margin-left: 20px;
}

.tag-line {
    color: white;
    float: left;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: white;
}

.header-link:not([href]):hover {
    text-decoration: none;
    color: var(--noobo-dark-green);
}

.header-items-right {
    float: right;
    color: white;
    height: 55px;
    margin: 0px;
    padding: 0px;
    vertical-align: top
}

.header-link {
    font-size: 1.1rem;
    font-family: titillium web, sans-serif;
    background-color: var(--noobo-dark-green);
    font-weight: 600;
    color: white;
    display: inline-block;
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    outline: none;
    height: 55px;
    line-height: 57px;
    transform: scale(1);
    transition: transform 0.2s ease-in, color 0.2s ease-in;
}

.header-link:hover {
    background-color: var(--noobo-very-light-green);
    color: var(--noobo-dark-green);
}

.header-link:focus {
    border: none;
    outline: none;
}

.user-profile-pic {
    background-color: white;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-left: 8px;
    position: relative;
    top: 10px
}

.sign-in-container {
    align-self: top;
    height: 55px;
    position: relative;
    top: -4px;
    display: inline-block;
    border: none;
    background-color: var(--noobo-dark-green);
}

.sign-in-form {
    position: relative;
    top: 3px;
    border: none;
}

.sign-in-input {
    font-family: titillium web, sans-serif;
    border: none;
    outline: none;
    background-color: white;
    font-size: 0.8rem !important;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
    box-shadow: 3px 3px 0px 0px var(--box-shadow-dark-grey);
    visibility: visible;
}

.sign-in-button {
    font-family: titillium web, sans-serif;
    color: var(--noobo-dark-green);
    background-color: white;
    font-size: 1.05rem;
    height: 30px;
    margin: 3px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 0px 0px var(--box-shadow-dark-grey);
    visibility: visible;
    transform: translate(0px, 0px);
}

.sign-in-button:hover {
    background-color: var(--noobo-very-light-green);
}

.sign-in-button:active {
    background-color: var(--noobo-dark-green);
    color: white
}