a {text-decoration: none;}
a:link { 
    text-decoration: none; 
}

.exit-green-x {
    background: url('./oie_3DbQ9ZpxIp6a.png');
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    box-sizing: border-box
}

.new-notice-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 20%;
    min-width: 140px;
    background-color: #4faa4f;
    border-radius: 10px 0px 0px 10px;
}

.new-notice-menu-text {
    font-family: titillium web, sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 50%;
    margin-top: 10%;

}

.new-notice-menu-item {
    font-family: titillium web, sans-serif;
    margin-bottom: auto;
    display: inline-block;
    color: white;
    font-weight: 900;
    text-align: center;
    position: relative;
    width: 100%;
    min-width: 100px;
    background-color: rgb(129, 194, 103);
    padding: 20px;
    transition: background-color 0.1s;
    box-sizing: border-box
}

.new-notice-menu-item:hover {
    background-color: rgb(229, 244, 224);
    text-decoration: none;
}

.new-notice-menu-item:active {
    background-color: rgb(191, 233, 174);
    text-decoration: none;
}