.noticeCard {
    margin: auto;
    box-shadow: 5px 5px 10px 0px var(--box-shadow-diffuse-grey);
    font-size: 1rem;
    border-radius: 6px;
    padding: 10px;
    background-color: #fffbf0;
    position: relative;
    transition: opacity 0.2s linear;
    opacity: 1;
    z-index: 5000;
    pointer-events: auto;
    vertical-align: top;
    flex-Basis: "1 1 20%";
}

.noticeCard:hover .card-container,
.card-container {
    transform: rotateY(180deg);
    z-index: 555555;
}

.card:hover {
    z-index: 555555;
}

.thumb-buttons-container {
    position: absolute;
    right: 0px;
    outline: none;
    display: inline-block;
    margin-top: 6px;
}

.pin-notice-button {
    font-size: 1.3rem;
    height: 35px;
    width: 35px;
    color: white;
    background-color: white;
    position: relative;
    right: 3px;
    vertical-align: top;
    border-radius: 10%;
    border: none !important;
    outline: none !important;
    margin-left: 4px;
    box-shadow: 3px 3px 0px 0px var(--box-shadow-dark-grey);
    transition: transform 0.2s, box-shadow 0.2s;
}

.pin-notice-button:hover {
    color: var(--noobo-dark-green);
    background-color: var(--noobo-very-light-green);
}

.pin-notice-button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px 0px var(--box-shadow-dark-grey)
}

.pin-notice-icon {
    background: url('icons8-pin-64.png');
    height: 20px;
    width: 20px;
    top: 7px;
    left: 8px;
    position: absolute;
    display: inline-block;
    background-size: cover;
    transform: rotate(315deg)
}

.card-container {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: transparent !important;
    transform: scale(1);
}

.card-front {
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
    box-shadow: 5px 5px 10px 0px var(--box-shadow-diffuse-grey);
}

.card-back {
    box-sizing: border-box;
    background-color: #e4dfc0;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19879812749847981274 !important;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px var(--box-shadow-diffuse-grey);
}