.parent {
    height: calc(100vh - 114px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: scroll;
    overflow-y: hidden;
    opacity: 1;
    align-items: stretch;
}