.noticesParent {
    height: calc(100vh);
    width: calc(100vw);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 1;
    align-items: stretch;
    z-index: 70000;
    position: relative
}

.up-arrow-container {
    width: 100vw;
    height: 40px;
    bottom: 15px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    z-index: 700031209;
    pointer-events: "all"
}

.up-arrow-icon {
    background: url('up-arrow-green.svg');
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    background-size: cover;
    transform: scale(1.0, 1.0);
    box-shadow: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.up-arrow-icon:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 1px 5px 1px rgb(106, 106, 106)
}

.up-arrow-icon:active {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 1px 1px 1px rgb(106, 106, 106)
}

.down-arrow-container {
    width: 100vw;
    height: 40px;
    bottom: 0px;
    position: absolute;
    z-index: 700031209;
    pointer-events: all;
    margin-top: 5px
}

.down-arrow-icon {
    background: url('down-arrow-green.svg');
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    background-size: cover;
    transform: scale(1.0, 1.0);
    box-shadow: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.down-arrow-icon:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 1px 5px 1px rgb(106, 106, 106)
}

.down-arrow-icon:active {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 1px 1px 1px rgb(106, 106, 106)
}