body {
  --noobo-very-light-green: rgb(229, 244, 224);
  --noobo-medium-green: rgb(157, 206, 137);
  --noobo-dark-green: #5fb55c;
  --noobo-darker-green: #4fa04e;
  --box-shadow-dark-grey: rgba(220, 220, 220, 0.79);
  --box-shadow-diffuse-grey: rgba(167, 167, 167, 0.79);
  --noobo-card-background-yellow: #fffbf0;
  margin: 0px;
  padding: 0px ! important;
  overflow: hidden;
  font-family: 'Bitter', serif;
}

html {
  margin: 0px;
  padding: 0px ! important;
  overflow: hidden;
  height: 100vh;
}