.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-rows: minmax(min-content, max-content);
    position: absolute;
    pointer-events: none
}